body {
  margin: 0;
  font-family: "Fredoka One", cursive;
  background-color: #151516;
}
section {
  height: 480px;
}
/*css of top-section starts from here*/
.top-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.top-section h1 {
  font-size: 50px;
  color: white;
}
.top-section p {
  color: rgb(240, 240, 240);
  letter-spacing: normal;
  font-weight: 100;
}
.half-width {
  float: left;
  width: 40%;
  margin-left: 60px;
  padding: 5px;
}
.half-width img {
  margin-top: 20px;
  width: 90%;
}
.half-width .developer {
  color: #12e1cf;
  letter-spacing: 2px;
}
.text-highlight {
  font-size: 75px;
  color: #00ccff;
}
.name-highlight {
  color: rgb(255, 0, 200);
  letter-spacing: 1px;
}
.find-me {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-image: linear-gradient(90deg, #00ffd5, #00ccff);
  height: 40px;
  font-size: 30px;
  padding: 10px 20px;
}
/*css of top-section ends here*/
/*css of middile-section starts here*/
.middile-section{
  background-color: #1d1d1d;
}
.middile-section p {
  color: rgb(240, 240, 240);
  letter-spacing: normal;
  font-weight: 100;
}
.middile-section h3 {
  color: rgb(228, 228, 228);
  letter-spacing: 1px;
}
.Goal {
  color: white;
  font-size: 40px;
  margin-left: 10px;
}
.yt-button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-image: linear-gradient(90deg, #00ffd5, #00ccff);
  height: 40px;
  font-size: 30px;
  padding: 10px 20px;
}

/*css of middle-section ends here*/
